@import '/home/xanix/.cache/wal/colors-waybar.css';

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

/* Main waybar window */
window#waybar {
    background: rgba(43, 48, 59, 0);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @foreground;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @foreground;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @color1;
    border-bottom: 3px solid white;
}

#window {
    margin: 0 10px;
    color: @foreground;
}

/* border-radius: 20px is what creates a circular shape rather than a rectangular */
/* padding is the space inside each module, vertically and then horizontally */
/* margin is the outer padding, the space between each module */
#mode, #clock, #battery, #wireplumber, #bluetooth, #network, #memory, #cpu, #privacy {
    padding: 0 20px;
    border-radius: 20px;
    margin: 0px 3px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: @color1;
    border-radius: 20px;
}

#battery {
    color: @color3;
    background-color: transparent;
    border: 2px solid @color3;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber {
    color: @color3;
    background-color: transparent;
    border: 2px solid @color3;
}

#bluetooth {
    color: @color2;
    background-color: transparent;
    border: 2px solid @color2;
}

#network {
    color: @color2;
    background-color: transparent;
    border: 2px solid @color2;
}

#memory {
    color: @color8;
    background-color: transparent;
    border: 2px solid @color8;
}

#cpu {
    color: @color8;
    background-color: transparent;
    border: 2px solid @color8;
}


